 <ul class="navitems flex items-center justify-center h-full">
            {% if request.user.is_authenticated %}
            
            
            <li><a href="{% url 'home' %}">Discussion Public</a></li>
                        {% for chatroom in user.chat_group.all %}
                             {% if chatroom.is_private %}
                                 {% for member in chatroom.members.all %}
                                     {% if member != user %}
                                        <li><a href="{% url 'chatroom' chatroom.group_name %}">{{member.profile.name}}</a></li>
                                    {% endif %}
                                  {% endfor %}
                                {% endif %}
                         {% endfor %}